
/* @import "tailwindcss"; */

html, body, #root { height: 100%; }

/* Titres About */
.main-content article h1 { font-size: 1.8rem; }
.main-content article h2 { font-size: 1.2rem; margin: 1rem 0 .5rem; }

/* Listes */
.main-content article ul { padding-left: 1.25rem; }
.main-content article li { margin: .25rem 0; }

body{
  background-color: rgb(244, 242, 245);
}
